 
    
    
    @media screen and (min-width:400px)
    {
      .myprofile
      {
        width:22.5em;
        margin-right:5%;
      }

      
      .myprofile2
      {
        width:23em;
      }

      
      .myprofile3
      {
        width:23em;
      }

    }
    @media screen and (min-width:550px)
    {

     *
     {
      padding:0;
      margin:0;
      }
      .navbar-header
      {
        width:100%;
        display:flex;
        justify-content:space-evenly;
      }

      
      #menu
      {
        margin-left:auto;
        margin-right:10%;
      }

      #Home
      {
        display:block;
      }

    }



    @media screen and (max-width:600px) {
      
      *{
        padding:0;
        margin:0;
       }
    
      body
      {
        padding:0;
        margin: 0;
      }
      
      #scroll-image,.card
      {
        grid-auto-columns:100%;
      }

      #scroll-image,.card
      {
        grid-auto-columns:100%;
      }
      
      .navbar-header a
      {
        display:none;
      } 
      
      #menu
      {
        display:block;
      }

    }


  /* Media screen for carousel card */
  @media screen and (max-width:900px) {

      *{
        padding:0;
        margin:0;
      }
    
      body
      {
        padding:0;
        margin: 0;
      }
      #scroll-image,.card
      {
        grid-auto-columns:calc( (100%/2) -9px);
      }

      #scroll-image2,.card2
      {
        grid-auto-columns:calc( (100%/2) -9px);
      }

       .navbar-header a
      {
        display:none;
      } 
      
      #menu
      {
        display:block;
        
      }

      #Home
      {
        display:block;
        
      }

                  
      .navbar-header a:first-child
      {
        font-size:2em;
        padding-top:1em;
        margin-right:auto;
        margin-left:10%;
      } 
    
    
   }

   @media screen and (max-width:1024px) {

    
    .maintainer-container
    {
      padding-top:100%;
      height:60vh;
    }


    
   }
     @media screen and (min-width:768px) {

            
      .first-div-content
      {
        display:flex;
        flex-flow:row;
      }

      .second-div-content
      {
        display:flex;
        flex-flow:row;
      }



     }